li {
	list-style:none;
}

body {
	margin: 0;
	overflow: hidden;
	height: 100%;
}



.liensPagePrincipale {
	margin-top: 2em;
}

a {
	background-color: #0033cc;
	color: white;
	padding: 0.2em;
}

a:hover {
	background-color: #578ce3;
}